<!-- ###MAINTEMPLATE### start -->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Description" content="###METADESCRIPTION###" />
<meta http-equiv="Keywords" content="###METAKEYWORDS###" />
<title> ###TITLE### </title>
<script src="###JSFILE1###" type="text/javascript" ></script>
<script src="###JSFILE2###" type="text/javascript" ></script>

###CSSSTYLES###

</head>
<body>

<header class="header">
<nav class="topnav">###TOPNAVIGATION###</nav>
<h1>###HEADTITLE###</h1>

###LOGINFORM###

</header>

<nav class="navwrap">
###NAVIGATION###
</nav>

<div class="content">
###CONTENT###
</div>

<aside class="aside">
###BORDER_CONTENT###
</aside>

<footer class="footer">
  ###FOOTER###
</footer>

</body>
</html>
<!-- ###MAINTEMPLATE### end -->

<!-- ###ITEM### -->
	<div class="item">
	
	<h3>###MANUFACTORY###</h3>
	<h4>###NAME###</h4>	
	###ITEMIMAGE###
  <p>
  ###EDITLINK###
  <!-- ###MORELINK### -->
	<a href="###LINK###" >###MORE###</a>
	<!-- ###MORELINK### -->
  </p>	
	</div>
<!-- ###ITEM### -->

<!-- ###FULLVIEW### -->
	<h3>###MANUFACTORY### - ###NAME###</h3>
	
	<table class='detailsTable'>
		<tr><td colspan="2" class='detailGroup'>Všeobecně</td></tr>
		<tr><td>Celková délka</td><td>###OVERALL-LENGTH###</td></tr>
		<tr><td>Hmotnost</td><td>###WEIGHT###</td></tr>
		
		<tr><td colspan="2" class='detailGroup'>Čepel</td></tr>
		<tr><td>Délka</td><td>###BLADE-LENGTH###</td></tr>
		<tr><td>Síla</td><td>###THICKNESS###</td></tr>
		<tr><td>Tvrdost</td><td>###HARDNESS###</td></tr>
		<tr><td>Materiál</td><td>###STEEL###</td></tr>
		
		<tr><td colspan="2" class='detailGroup'>Rukojeť</td></tr>	
		<tr><td>Délka</td><td>###HANDLE-LENGTH###</td></tr>
		<tr><td>Materiál</td><td>###HANDLE-MATERIAL###</td></tr>
	</table>
	
	###DESCRIPTION###
	
	
	<div id="imageGallery">
	###IMAGES###
	</div>
	<hr class='cleaner' />
<!-- ###FULLVIEW### -->